/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/index.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/index.scss */
html, body {
  height: 100%;
}

/* line 29, ../sass/index.scss */
body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

/* line 35, ../sass/index.scss */
#background-art {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  z-index: -1;
}

/* line 47, ../sass/index.scss */
.container {
  height: 100%;
  position: relative;
}

/* line 52, ../sass/index.scss */
.current-track-container {
  padding: 10px;
  width: 100%;
  overflow: auto;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 7, ../sass/index.scss */
.current-track-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 65, ../sass/index.scss */
.current-track-container img#current-art {
  display: inline-block;
  float: left;
  width: 30%;
  max-width: 150px;
}
/* line 73, ../sass/index.scss */
.current-track-container .current-info {
  display: inline-block;
  float: left;
  width: 70%;
  height: 100%;
  padding-left: 10px;
  position: relative;
}
/* line 81, ../sass/index.scss */
.current-track-container .current-info .name {
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 89, ../sass/index.scss */
.current-track-container .current-info .artist {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 95, ../sass/index.scss */
.current-track-container .current-info .album {
  font-size: 14px;
  font-style: italic;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 104, ../sass/index.scss */
.current-track-container .current-info .controls {
  margin-top: 15px;
}
/* line 107, ../sass/index.scss */
.current-track-container .current-info .controls i {
  font-size: 20px;
}
/* line 110, ../sass/index.scss */
.current-track-container .current-info .controls i:not(:first-child) {
  padding-left: 20px;
}

/* line 124, ../sass/index.scss */
.tracklist-container ul li {
  padding: 5px;
  height: 65px;
}
/* line 125, ../sass/index.scss */
.tracklist-container ul li:not(:first-child) {
  border-top: 1px solid black;
}
/* line 129, ../sass/index.scss */
.tracklist-container ul li img {
  float: left;
  height: 55px;
  padding-right: 5px;
}
/* line 136, ../sass/index.scss */
.tracklist-container ul li .track-info .name {
  font-weight: 500;
  padding-bottom: 5px;
}
/* line 141, ../sass/index.scss */
.tracklist-container ul li .track-info .artist {
  font-size: 13px;
}
